#wholeCardOne img,
#wholeCardTwo img,
#computerWholeCardOne img,
#computerWholeCardTwo img {
  width:125px;
  height:181.5px;
}
#wholeCardOne,
#wholeCardTwo,
#computerWholeCardOne,
#computerWholeCardTwo {
  float:left;
  margin:10px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
